
*{
	margin:0px;
}

.row, .col-md-3{
	margin:0;
}

.container{
	padding:0;
}

.fixedWidth{
	width: 400px;
	max-width:100%;
}

/* FONTS */
/******************************************/
@font-face{
	font-family: "Titillium-Light";
	src: url("./fonts/Titillium/TitilliumWeb-Light.ttf");
}

@font-face{
	font-family: "Titillium-Regular";
	src: url("./fonts/Titillium/TitilliumWeb-Regular.ttf");
}

@font-face{
	font-family: "Titillium-SemiBold";
	src: url("./fonts/Titillium/TitilliumWeb-SemiBold.ttf");
}

@font-face{
	font-family: "Titillium-Bold";
	src: url("./fonts/Titillium/TitilliumWeb-Bold.ttf");
}




/* NAV */
/******************************************/
header, nav{
	font-family:"Titillium-Regular";
	background-color:rgba(192, 66, 63, 1);
	width:100%;
	color:white;
}



nav p span{
	font-family:"Titillium-Bold";
}

logout-directive p, logout-directive button{
	display:inline;
}

nav logout-directive button{
	font-family:"Titillium-Regular";
	border:0;
	background-color:rgba(192, 66, 63, 1);
}

nav logout-directive button:hover{
	cursor:pointer;
}

logout-directive button{
	float:right;
	font-size:15px;
}


/* HEADER */
/******************************************/
header{
	background-color:rgba(192, 66, 63, 1);
	padding:5px;
}

header img{
	width:18px;
	vertical-align: text-bottom;
}

header-directive{
	width:200px;
}

header-directive img, header-directive form{
	display:inline;
}

header-directive button{
	background-color:rgba(255,255,255,0);
	border:0;
	padding:0;
	text-align:right;
}

header-directive button:hover{
	cursor:pointer;
}

header-directive button img{
	width:18px;
}


/* MAIN */
/******************************************/
main{
	/*text-align:center;*/
}


/* SIGNUP / LOGIN */
/******************************************/
main h1.signupLogin{
	font-family: "Titillium-Light";
	display:inline;
}

main h1.signupLogin:hover{
	cursor: pointer;
}

main form{
	width:200px;
}

main form * {
	width:100%;
	text-align: center;
	padding: 5px;
	margin:2.5px;
}

/*main form input{
	text-align:center;
	width:100%;
}*/

main form button{
	background-color:white;
	border:solid 1px #000;
	/*width:100%;*/

}

/* LIST */
/******************************************/
/*ul span.listItem{
	padding:0px;
}*/

list-directive ul{
	padding:3px;
	border-top:solid .5px #ccc;
	font-family:"Titillium-Regular";
	margin-bottom:0px;
}

list-directive ul:last-child{
	border-bottom:solid .5px #ccc;
}

list-directive button{
	float:right;
	background-color:rgba(255, 255, 255, 0);
	border:0px;
	padding:0px;
}

list-directive button:hover{
	cursor:pointer;
}

list-directive button img{
	width:11px;
}



















/*MEDIA QUERIES*/
/*********************************************/
/*@media screen and (min-width:300px){
	header form input{
		width:85%;
	}
}*/

/*@media screen and (min-width:320px){
	header form input{
		width:86%;
	}
}

@media screen and (min-width:360px){
	header form input{
		width:87.8%;
	}
}

@media screen and (min-width:400px){
	header form input{
		width:89.2%;
	}
}

@media screen and (min-width:460px){
	header form input{
		width:90.7%;
	}
}

@media screen and (min-width:5000px){
	header form input{
		width:91.5%;
	}
}*/

@media screen and (max-width:275px){
	h1{
		font-size:32px;
	}
}