
*{
	margin:0px;
}

/* HEADER */
/******************************************/
header{
	background-color:skyblue;
	padding:5px;
}

header img{
	width:18px;
	vertical-align: text-bottom;
}

header-directive img, header-directive form{
	display:inline;
}

header-directive button{
	background-color:rgba(255,255,255,0);
	border:0;
	padding:0;
}

header-directive button img{
	width:10px;
}


/* MAIN */
/******************************************/
main{
	text-align:center;
	padding: 0 5px;
}


/* SIGNUP / LOGIN */
/******************************************/
main h1.signupLogin{
	display:inline;
}

main form{
	width:200px;
}

main form * {
	width:100%;
	text-align: center;
	padding: 5px;
	margin:2.5px;
}

/*main form input{
	text-align:center;
	width:100%;
}*/

main form button{
	background-color:white;
	border:solid 1px #000;
	/*width:100%;*/
}


/* FOOTER */
/******************************************/
footer{
	background-color:skyblue;
	bottom:0;
	position:absolute;
	width:100%;
}

logout-directive p, logout-directive button{
	display:inline;
}

footer logout-directive button{
	border:0;
	background-color:skyblue;
}

footer logout-directive button:hover{
	cursor:pointer;
}

logout-directive button{
	float:right;
}