
*{
	margin:0px;
}

/* FONTS */
/******************************************/
@font-face{
	font-family: "Titillium-Light";
	src: url("./fonts/Titillium/TitilliumWeb-Light.ttf");
}

@font-face{
	font-family: "Titillium-Regular";
	src: url("./fonts/Titillium/TitilliumWeb-Regular.ttf");
}

@font-face{
	font-family: "Titillium-SemiBold";
	src: url("./fonts/Titillium/TitilliumWeb-SemiBold.ttf");
}

@font-face{
	font-family: "Titillium-Bold";
	src: url("./fonts/Titillium/TitilliumWeb-Bold.ttf");
}



/* HEADER */
/******************************************/
header{
	background-color:skyblue;
	padding:5px;
}

header img{
	width:18px;
	vertical-align: text-bottom;
}

header-directive{
	width:200px;
}

header-directive img, header-directive form{
	display:inline;
}

header-directive button{
	background-color:rgba(255,255,255,0);
	border:0;
	padding:0;
}

header-directive button:hover{
	cursor:pointer;
}

header-directive button img{
	width:13px;
}


/* MAIN */
/******************************************/
main{
	/*text-align:center;*/
}


/* SIGNUP / LOGIN */
/******************************************/
main h1.signupLogin{
	font-family: "Titillium-Light";
	display:inline;
}

main h1.signupLogin:hover{
	cursor: pointer;
}

main form{
	width:200px;
}

main form * {
	width:100%;
	text-align: center;
	padding: 5px;
	margin:2.5px;
}

/*main form input{
	text-align:center;
	width:100%;
}*/

main form button{
	background-color:white;
	border:solid 1px #000;
	/*width:100%;*/

}

/* LIST */
/******************************************/
/*ul span.listItem{
	padding:0px;
}*/

list-directive ul{
	padding:3px;
	border-top:solid .5px #ccc;
	font-family:"Titillium-Regular";
}

list-directive ul:last-child{
	border-bottom:solid .5px #ccc;
}

list-directive button{
	float:right;
	background-color:rgba(255, 255, 255, 0);
	border:0px;
	padding:0px;
}

list-directive button:hover{
	cursor:pointer;
}

list-directive button img{
	width:11px;
	padding:6px;
}


/* FOOTER */
/******************************************/
nav{
	font-family:"Titillium-Regular";
	background-color:skyblue;
	width:100%;
}

nav p span{
	font-family:"Titillium-Bold";
}

logout-directive p, logout-directive button{
	display:inline;
}

nav logout-directive button{
	font-family:"Titillium-Regular";
	border:0;
	background-color:skyblue;
}

nav logout-directive button:hover{
	cursor:pointer;
}

logout-directive button{
	float:right;
	font-size:15px;
}