


/* LOGIN/ SIGNUP FORM */
/****************************************/
body #loginContentContainer, body #contentContainer{
	background:beige;
	width:295px;

	position:fixed;
	top:40%;
	left:50%;
	margin-top: -200px;
	margin-left: -155px;

	box-shadow: 0px 0px 10px 1px #838383;
}

body #headlines{
	margin-top: 2px;
    margin-left: 28px;
    font-weight: 500;
    display:flex;
}

body #headlines h1 {
	margin-top: 13px;
}

body #header{
	background-color:rgba(192, 66, 63, 1);
	height: 85px;
	box-shadow: 1px 0px 3px #838383;
	display: flex;
}

body #formContainer{
	margin: 30px;
}

body .formLabel{
	font-size: 13.5px;
	font-weight: 700;
	margin-bottom: 3px;
	text-transform: uppercase;
}

body #formContainer input{
	width: 235px;
	height: 25px;
	margin-bottom: 10px;
	border: none;
	box-shadow: inset 0px 0px 7px 1px #cecece;
}

body #formContainer button{
	background-color:rgba(192, 66, 63, 1);
	/*box-shadow: none;*/
	color: white;
	border:none;
	width:235px;
	height:25px;
}


/* MAIN LIST */
/******************************************/





/* FOOTER */
/******************************************/
footer{
	background-color:rgba(192, 66, 63, 1);
}